.header{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    border: 1px solid #f9f9f9;
    padding: 20px;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: white;
}

.header__logo{
    height:25px;
    object-fit:contain;
    margin-left: 20px;;
}

.header__left{
    display:flex;
    align-items: center; 
  
}

.header__center{
    display:flex;
    align-items: center; 
    width: 40%;  
    border: 1px solid lightgray;
}

.header__center > input{
    flex: 1;
    border: none;
}

.header__inputButton{
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

.header__right{
    display:flex;
    align-items: center;
}

.header__icon{
    margin-right: 8px;
}